.center {
  text-align: center;
}

#output {
  display: none;
  text-align: center;
  margin: 2em;
}

#finalsubmit {
  text-align: center;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  display: none;
}

#basics {
  display: none;
}

#customs {
  display: none;
}

#flavor {
  display: none;
}
